html, body{
    margin: 0; 
    padding: 0;
}

body{
    background-color: #DDCDCA;
    font-family: 'Hedvig Letters Serif', serif;
 /**   font-family: Georgia, serif;**/
}

.container{
    width: 80%;
    margin: 0 auto; 
}
header{
    background-color: #a39274; 
}
header::after{
    content: '';
    display: table; 
    clear: both; 
}
p{
    float: left; 
}
nav{
    float: right; 
}
nav ul {
    margin: 0;
    padding: 0; 
    list-style: none; 
}
nav li{
    display: inline-block; 
    margin-left: 70px;
    padding-top: 17px; 
    position: relative;
}
nav a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
}
nav a:hover{
    color: #000;
}
nav a::before{
    content: ''; 
    display: block; 
    height: 5px; 
    width: 0%; 
    background-color: #444;
    position: absolute;
    top: 0; 
    transition: all ease-in-out 250 ms;
}
nav a:hover::before{
    width: 100%; 
}
@media all and (max-width: 800px){
    .container {
        font-size: 10px;
    }
    nav li{
        padding-top: 10px;
    }
}
@media all and (max-width: 600px){
    .container {
        font-size: 9px;
    }
    nav li{
    padding-top: 10px;
    }
}


.business{
    text-align: center;
    padding: 10px 0;
    font-size: 30px;
    background-color: beige;
    font-family: 'Ephesis', cursive;
}

.aboutbussiness{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    float: right;
}

.text{
    display: flex;
    justify-content: space-around;
    flex: 1;
    padding: 50px;
}

#change{
    font-size: 30px;
}

.imgh{
    flex-basis: 30%;
    padding: 30px;
}

.image{
    max-width: 100%;
    max-height: 100%;
    flex-shrink: 0;

}

.homeimages{
    display:flex;
    width: 100hv; /* Set the container to the viewport width */
    height: 100vh; /* Set the container to the viewport height */
    overflow: hidden; /* Hide overflowing content */
    flex-wrap: wrap;
}



.footer-container{
    display: flex; 
    background-color: beige; 
    justify-content: space-around; 
    padding: 20px; 
}

.special{
    font-size: 30px; 
}

h3{
    text-align: center; 
    font-size: 25px;
}

.image_container{
    display: flex; 
    flex-wrap: wrap;

    width: 100%;
    justify-content: space-around;
    align-items: center;
}

img{
    width: 500px; 
    padding: 20px;
}

.about_container{
    display: flex;
    padding: 30px;
    justify-content: center;
}

@media all and (max-width: 990px){
    .about_container{
        flex-wrap: wrap;
    }
}

h1{
    text-align: center; 
}
.service_container{
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
}
.card {
    width: 244px;
    margin: 10px; 

}
.card-image{
    height: 244px; 
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
    
}
.card h2{
    padding: 5px; 
}
